/* NEXTJS DEFAULTS */
html,
body {
  padding: 0;
  margin: 0;

  font-family: Inter;
}

* {
  box-sizing: border-box;
}

/* FONTS */
@import "https://rsms.me/inter/inter.css";
@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.Inter {
  font-family: Inter;
}

.Montserrat {
  font-family: Montserrat;
}

/* TAILWIND */
@tailwind components;
@tailwind utilities;

/* GLOBAL CLASSES */
.pagefill {
  min-height: 100vh;
  width: 100vw;
}